@layer theme, base, clerk, components, utilities;
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* light mode */
  --color-bg-light: #F9FAFB;
  --color-text-light: #1F2937;
  --color-brand-light: #6C4EFF;
  --color-accent-light: #00C2B2;
  --color-surface-light: #FFFFFF;

  /* dark mode */
  --color-bg-dark: #1C1C24;
  --color-text-dark: #F3F4F6;
  --color-brand-dark: #8C7CFF;
  --color-accent-dark: #1CCFB5;
  --color-surface-dark: #2A2A33;

  --font-header: var(--font-poppins);
  --font-body: var(--font-inter);
}

@utility font-header {
  font-family: var(--font-poppins), sans-serif;
}

@utility font-body {
  font-family: var(--font-inter), sans-serif;
}